@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

* {
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    font-family: "Roboto";
}

body {
    height: 100vh;
    display: flex;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 1rem 5rem;
}

header .header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

header .header-links a {
    text-decoration: none;
    color: #f9faf8;
}

main {
    display: flex;
    flex: 1;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
}

main .hero {
    padding: 75px;
    display: flex;
    flex-direction: row;
    color: #f9faf8;
    background-color: #1f2937;
}

main .hero h2 {
    font-size: 48px;
    font-weight: 900;
}

main .hero p {
    font-size: 18px;
    color: #e5e7eb;
}

main .hero .hero-text {
    display: flex;
    flex: 1;
    width: 400px;
    display: flex;
    flex: 1;
}

main .hero img {
    display: flex;
    flex: 1;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.hero button {
    width: 6rem;
    padding: 6px 12px;
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 10px;
}

.informational {
    margin: 2em;
}

.informational .info-heading {
    text-align: center;
}

.informational .image_container {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1em 0;
}

.info-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 1em 0 4em 0;
}

.info-container .card p {
    text-align: justify;
}

figure {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 3em 0;
}

figure .quote {
    width: 550px;
    margin: auto;
}

figure blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

figure figcaption {
    font-weight: bold;
    text-align: end;
}

.cta {
    width: 600px;
    margin: 2em auto;
    padding: 1em 1em;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cta button {
    background-color: #3882f6;
    color: #f9faf8;
    max-height: 30px;
    align-self: center;
    margin: 0 1em;
    width: 100px;
    border: 1px solid #f9faf8;
}




footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
}